<div class="row">
  <form materialize [formGroup]="loginForm" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" formControlName="email">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" formControlName="password">
        <label for="password">Password</label>
      </div>
    </div>
    <a class="waves-effect waves-light btn" (click)="login()"><i class="material-icons left">Login</i>button</a>
  </form>
</div>
