  <nav>
    <div class="nav-wrapper white">
      <a href="#" class="brand-logo">
        <img>
      </a>
      <a materialize="sideNav" data-activates="mobile-nav" class="button-collapse"><i class="material-icons grey darken-3">menu</i></a>
      <ul class="prehab-nav right hide-on-med-and-down">
        <li><a (click)="auth.login()"
               *ngIf="!auth.isLoggedIn()">Login</a>
        </li>
        <li><a routerLink="/home">Home</a>
        </li>
        <!--<li><a routerLink="/dashboard"-->
               <!--*ngIf="auth.isLoggedIn()">Dashboard</a>-->
        <!--</li>-->
        <!--<li><a routerLink="/account"-->
               <!--*ngIf="auth.isLoggedIn()">Account</a>-->
        <!--</li>-->
        <li><a *ngIf="auth.isLoggedIn()"
               (click)="auth.logout()">Logout</a>
        </li>
      </ul>
      <ul class="prehab-nav side-nav" id="mobile-nav">
        <li><a (click)="auth.login()"
               *ngIf="!auth.isLoggedIn()">Login</a>
        </li>
        <li><a routerLink="/home">Home</a>
        </li>
        <!--<li><a routerLink="/dashboard"-->
               <!--*ngIf="auth.isLoggedIn()">Dashboard</a>-->
        <!--</li>-->
        <!--<li><a routerLink="/account"-->
               <!--*ngIf="auth.isLoggedIn()">Account</a>-->
        <!--</li>-->
        <li><a *ngIf="auth.isLoggedIn()"
               (click)="auth.logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
